<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d44944b-14f5-49bb-92b7-e6b52fd20168" Alias="19F7f5c7 3Dc323ae918ec66ee44e80889ebd1686" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F7f5c73Dc323ae918ec66ee44e80889ebd1686</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T13:44:43</CreateDate>
    <NodeName Default="19F7f5c7 3Dc323ae918ec66ee44e80889ebd1686" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jwkei1pv/19f7f5c7-3dc323ae918ec66ee44e80889ebd1686.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>