<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fbb8df4-9361-462c-9cb1-203988a461c9" Alias="2020 Volkswagen Golf Style 1.5 Front" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VolkswagenGolfStyle15Front</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T13:59:03</CreateDate>
    <NodeName Default="2020 Volkswagen Golf Style 1.5 Front" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4kglwh1b/2020_volkswagen_golf_style_15_front.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>