<?xml version="1.0" encoding="utf-8"?>
<Media Key="c741cc4d-d6e7-4cb5-af46-1b8c1fcff91d" Alias="Bmw M5 783783" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BmwM5783783</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T13:57:41</CreateDate>
    <NodeName Default="Bmw M5 783783" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jpgedr5h/bmw_m5_783783.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>