<?xml version="1.0" encoding="utf-8"?>
<Media Key="2972f2a1-2e19-4ee0-a7c2-ea6e5e1edd07" Alias="BMW Logo (Gray).Svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BMWLogoGraySvg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T11:32:27</CreateDate>
    <NodeName Default="BMW Logo (Gray).Svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u5zhekiz/bmw_logo_-gray-svg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>