<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb78a257-4efa-4eb8-8d3c-6014702bcb0d" Alias="Bmw M5 511351769Fx" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BmwM5511351769Fx</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T14:05:06</CreateDate>
    <NodeName Default="Bmw M5 511351769Fx" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kgrhr050/bmw_m5__511351769fx.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>