<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec7cbff0-f3eb-4008-ac20-eb14ce6aa830" Alias="Ford Mustang 495877406F" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FordMustang495877406F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T14:02:31</CreateDate>
    <NodeName Default="Ford Mustang 495877406F" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/405hz1hl/ford_mustang__495877406f.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>