<?xml version="1.0" encoding="utf-8"?>
<Media Key="f860e6cd-0ce6-400a-85ef-7592c64e10f8" Alias="Logo (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T17:59:23</CreateDate>
    <NodeName Default="Logo (1)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zptgb4hg/logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>