<?xml version="1.0" encoding="utf-8"?>
<Media Key="04896e77-3e52-4aa7-bde4-311b5ac85c55" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T11:23:39</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ofxisbcs/logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>