<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d6e0b22-2bf0-4208-a1d6-6086ea7bc677" Alias="Toyota Camry 345524791F" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ToyotaCamry345524791F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T11:40:22</CreateDate>
    <NodeName Default="Toyota Camry 345524791F" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eqfh2hpq/toyota_camry__345524791f.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>