<?xml version="1.0" encoding="utf-8"?>
<Media Key="80b2cfe3-9616-486f-95d5-0b1aba3531ab" Alias="Volkswagen Tiguan 501384608F" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VolkswagenTiguan501384608F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T14:00:50</CreateDate>
    <NodeName Default="Volkswagen Tiguan 501384608F" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2xhlfaaw/volkswagen_tiguan__501384608f.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>