<?xml version="1.0" encoding="utf-8"?>
<Media Key="6741739a-1477-4777-b08c-fd0726e71587" Alias="Volkswagen Jetta 456025656F" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VolkswagenJetta456025656F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T14:08:58</CreateDate>
    <NodeName Default="Volkswagen Jetta 456025656F" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/trzfcz1x/volkswagen_jetta__456025656f.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>