<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9805d65b-be7d-4283-b032-d97e1860ff17" Alias="Contact Us - Phone - Picker" Level="1">
  <Info>
    <Name>Contact Us - Phone - Picker</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 4,
  "Minimum": 0
}]]></Config>
</DataType>