<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79b7702a-7673-49d5-8fe1-21a64f615b1f" Alias="Vehicle - Brand - Treepicker" Level="1">
  <Info>
    <Name>Vehicle - Brand - Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "brand",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>