<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a19b0571-7c2a-4361-aeb7-c40f2ccf76e5" Alias="brands" Level="1">
  <Info>
    <Name>Brands</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6070d2d7-dc4a-4683-bea4-2e5ca090b64a" SortOrder="0">brand</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>