<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c17ef75-71e9-4740-9e6d-f3888685c85e" Alias="vehicles" Level="1">
  <Info>
    <Name>Vehicles</Name>
    <Icon>icon-thumbnails-small color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d34dfeaa-0d31-406f-b866-84e7ee67aab6" SortOrder="0">vehicle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>