<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4d7bc47-3eab-4ed9-8b4e-94ed32915119" Alias="BMW M5" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/BMWM5</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T14:05:58</CreateDate>
    <NodeName Default="BMW M5" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/fe21d437010b4093b0e79977dee7ffed]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Grey]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Gas]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2022-09-15T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c026a2f1-5551-4a52-b4c4-2b5252498b8b",
    "mediaKey": "eb78a257-4efa-4eb8-8d3c-6014702bcb0d"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[M5]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[25199]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>