<?xml version="1.0" encoding="utf-8"?>
<Content Key="80af4691-c795-4e0b-8402-5086a7fce9e3" Alias="BMW X5" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/BMWX5</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T14:04:48</CreateDate>
    <NodeName Default="BMW X5" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/fe21d437010b4093b0e79977dee7ffed]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Blue]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Gas]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2021-12-31T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "75649563-c4d2-4e85-b8e2-8a0e693b3ac6",
    "mediaKey": "16aaab4b-2bdb-4f57-bf45-1dcf220448d3"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[X5]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[24099]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>