<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe21d437-010b-4093-b0e7-9977dee7ffed" Alias="BMW" Level="3">
  <Info>
    <Parent Key="a9cf53fc-089c-417b-b42a-72ef9a5dde86">Brands</Parent>
    <Path>/Home/Brands/BMW</Path>
    <Trashed>false</Trashed>
    <ContentType>brand</ContentType>
    <CreateDate>2023-12-06T11:32:30</CreateDate>
    <NodeName Default="BMW" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "69c799c4-3e64-4a5d-aa0d-02ed5ef9ad33",
    "mediaKey": "2972f2a1-2e19-4ee0-a7c2-ea6e5e1edd07"
  }
]]]></Value>
    </image>
    <originCountry>
      <Value><![CDATA[Germany]]></Value>
    </originCountry>
  </Properties>
</Content>