<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9cf53fc-089c-417b-b42a-72ef9a5dde86" Alias="Brands" Level="2">
  <Info>
    <Parent Key="443c0dcf-1278-4ac3-b291-57f82180201c">Home</Parent>
    <Path>/Home/Brands</Path>
    <Trashed>false</Trashed>
    <ContentType>brands</ContentType>
    <CreateDate>2023-12-06T11:25:29</CreateDate>
    <NodeName Default="Brands" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>