<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f95f1cb-923f-4f61-acbd-8b2d5f2293ff" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="443c0dcf-1278-4ac3-b291-57f82180201c">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2023-12-06T14:11:03</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <location>
      <Value><![CDATA[Kharkiv, NY 10012, UA]]></Value>
    </location>
    <phones>
      <Value><![CDATA[+123 123 12 1212]]></Value>
    </phones>
  </Properties>
</Content>