<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4c5d06e-70bb-4433-b9fd-5c3ffe87164b" Alias="Ford Mustang" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/FordMustang</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T14:03:35</CreateDate>
    <NodeName Default="Ford Mustang" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/a6883d8be565446e8dfbcc7d30a0f278]]></Value>
    </brand>
    <color>
      <Value><![CDATA[White]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Gas]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2017-12-22T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "1d957963-3d5d-4628-99f9-09e47a342490",
    "mediaKey": "ec7cbff0-f3eb-4008-ac20-eb14ce6aa830"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[Mustang]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[19399]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>