<?xml version="1.0" encoding="utf-8"?>
<Content Key="f56d1d3c-67bf-42f5-a7b0-a3aa1254c8a0" Alias="Ford Mondeo" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/FordMondeo</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T13:57:27</CreateDate>
    <NodeName Default="Ford Mondeo" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/a6883d8be565446e8dfbcc7d30a0f278]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Grey]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Gas]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2021-10-13T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "8b2c41d4-7d02-4f34-a0f2-f54fc7c94dc8",
    "mediaKey": "bf07012a-8ccd-46d3-8c3f-ebee28e5f402"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[Mondeo]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[11496]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>