<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6883d8b-e565-446e-8dfb-cc7d30a0f278" Alias="Ford" Level="3">
  <Info>
    <Parent Key="a9cf53fc-089c-417b-b42a-72ef9a5dde86">Brands</Parent>
    <Path>/Home/Brands/Ford</Path>
    <Trashed>false</Trashed>
    <ContentType>brand</ContentType>
    <CreateDate>2023-12-06T11:33:22</CreateDate>
    <NodeName Default="Ford" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "86febd60-375c-4c99-8e9e-cba81457acaa",
    "mediaKey": "392fd0f8-12d1-4d0f-b7cc-7a9d548bf463"
  }
]]]></Value>
    </image>
    <originCountry>
      <Value><![CDATA[United States]]></Value>
    </originCountry>
  </Properties>
</Content>