<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a014099-ca84-44be-a4d2-7a173dca4ef6" Alias="Ford Explorer" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/FordExplorer</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T13:54:25</CreateDate>
    <NodeName Default="Ford Explorer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/a6883d8be565446e8dfbcc7d30a0f278]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Red]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Diesel]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2020-02-13T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "8513e4b5-e773-4e5b-8bcc-f6a5bf9e8994",
    "mediaKey": "68685152-6e92-4e44-a413-92196afe3924"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[Explorer]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[22598]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>