<?xml version="1.0" encoding="utf-8"?>
<Content Key="443c0dcf-1278-4ac3-b291-57f82180201c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-12-06T11:24:23</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <companyName>
      <Value><![CDATA[Becafoyo]]></Value>
    </companyName>
    <logo>
      <Value><![CDATA[[
  {
    "key": "93d480b3-32cb-4df8-8132-b6663f15739d",
    "mediaKey": "04896e77-3e52-4aa7-bde4-311b5ac85c55"
  }
]]]></Value>
    </logo>
  </Properties>
</Content>