<?xml version="1.0" encoding="utf-8"?>
<Content Key="443c0dcf-1278-4ac3-b291-57f82180201c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-12-06T11:24:23</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <companyName>
      <Value><![CDATA[Becafoyo]]></Value>
    </companyName>
    <logo>
      <Value><![CDATA[[
  {
    "key": "f477d26f-12f7-4087-9a4c-f72355bffd0a",
    "mediaKey": "f860e6cd-0ce6-400a-85ef-7592c64e10f8"
  }
]]]></Value>
    </logo>
  </Properties>
</Content>