<?xml version="1.0" encoding="utf-8"?>
<Content Key="9db7fa7d-5f33-4932-a132-47562fb426f5" Alias="News" Level="2">
  <Info>
    <Parent Key="443c0dcf-1278-4ac3-b291-57f82180201c">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2023-12-06T14:11:11</CreateDate>
    <NodeName Default="News" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>