<?xml version="1.0" encoding="utf-8"?>
<Content Key="d39ccfdb-5a29-4ddc-8841-aa7c3f78fc8a" Alias="Toyota" Level="3">
  <Info>
    <Parent Key="a9cf53fc-089c-417b-b42a-72ef9a5dde86">Brands</Parent>
    <Path>/Home/Brands/Toyota</Path>
    <Trashed>false</Trashed>
    <ContentType>brand</ContentType>
    <CreateDate>2023-12-06T11:29:16</CreateDate>
    <NodeName Default="Toyota" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "08a5967a-f037-404f-ba29-e0416a504c09",
    "mediaKey": "1d64f220-cfab-442b-b33a-3646f860f16c"
  }
]]]></Value>
    </image>
    <originCountry>
      <Value><![CDATA[Japan]]></Value>
    </originCountry>
  </Properties>
</Content>