<?xml version="1.0" encoding="utf-8"?>
<Content Key="832f378f-138b-47f7-894e-87559ac5c204" Alias="Toyota Camry" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/ToyotaCamry</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T11:44:19</CreateDate>
    <NodeName Default="Toyota Camry" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/d39ccfdb5a294ddc8841aa7c3f78fc8a]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Red]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Gas]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2018-12-01T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "79dbbda0-f338-4826-b2a8-f6c0a3ce42a3",
    "mediaKey": "1d6e0b22-2bf0-4208-a1d6-6086ea7bc677"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[18000]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>