<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4e92cb5-522c-4d30-b936-55deffda5da0" Alias="Vehicles" Level="2">
  <Info>
    <Parent Key="443c0dcf-1278-4ac3-b291-57f82180201c">Home</Parent>
    <Path>/Home/Vehicles</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicles</ContentType>
    <CreateDate>2023-12-06T11:34:25</CreateDate>
    <NodeName Default="Vehicles" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>