<?xml version="1.0" encoding="utf-8"?>
<Content Key="5cac9876-a53e-4caa-b07c-352f64a2e99e" Alias="Volkswagen" Level="3">
  <Info>
    <Parent Key="a9cf53fc-089c-417b-b42a-72ef9a5dde86">Brands</Parent>
    <Path>/Home/Brands/Volkswagen</Path>
    <Trashed>false</Trashed>
    <ContentType>brand</ContentType>
    <CreateDate>2023-12-06T11:31:27</CreateDate>
    <NodeName Default="Volkswagen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "f9a36d27-1a5d-46ee-91a3-7f5618404eb4",
    "mediaKey": "0de8a159-1465-46ce-ac97-7bd1aa20dec3"
  }
]]]></Value>
    </image>
    <originCountry>
      <Value><![CDATA[Germany]]></Value>
    </originCountry>
  </Properties>
</Content>