<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f62d042-ede2-4080-834f-b173ae27ee16" Alias="Volkswagen Passat" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/VolkswagenPassat</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T13:55:58</CreateDate>
    <NodeName Default="Volkswagen Passat" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/5cac9876a53e4caab07c352f64a2e99e]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Blue]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Gas]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2022-01-19T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "ea3503d7-f6de-4348-906a-031676ff7084",
    "mediaKey": "6bde002a-9ada-4cec-bdad-d615f6bce545"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[Passat]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[12599]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>