<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f5031f7-36fc-449c-8b12-25c10c8c55b6" Alias="Volkswagen Tiguan" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/VolkswagenTiguan</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T14:02:08</CreateDate>
    <NodeName Default="Volkswagen Tiguan" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/5cac9876a53e4caab07c352f64a2e99e]]></Value>
    </brand>
    <color>
      <Value><![CDATA[White]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Diesel]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2022-12-30T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c87f9e23-61dc-4723-bf8b-83fee2d7e195",
    "mediaKey": "80b2cfe3-9616-486f-95d5-0b1aba3531ab"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[Tiguan]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[21199]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>