<?xml version="1.0" encoding="utf-8"?>
<Content Key="67d28e98-2884-46b5-bb87-63cb16396c6e" Alias="Volkswagen Jetta" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/VolkswagenJetta</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T14:10:09</CreateDate>
    <NodeName Default="Volkswagen Jetta" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/5cac9876a53e4caab07c352f64a2e99e]]></Value>
    </brand>
    <color>
      <Value><![CDATA[Black]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Diesel]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2021-12-21T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "46bb962e-c5a7-4827-b11e-1779aabb299f",
    "mediaKey": "6741739a-1477-4777-b08c-fd0726e71587"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[Jetta]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[16599]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>