<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cf10509-372c-4f72-b250-26e5dba2edd0" Alias="Volkswagen Golf" Level="3">
  <Info>
    <Parent Key="f4e92cb5-522c-4d30-b936-55deffda5da0">Vehicles</Parent>
    <Path>/Home/Vehicles/VolkswagenGolf</Path>
    <Trashed>false</Trashed>
    <ContentType>vehicle</ContentType>
    <CreateDate>2023-12-06T14:00:34</CreateDate>
    <NodeName Default="Volkswagen Golf" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[umb://document/5cac9876a53e4caab07c352f64a2e99e]]></Value>
    </brand>
    <color>
      <Value><![CDATA[White]]></Value>
    </color>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <fuelType>
      <Value><![CDATA[Gas]]></Value>
    </fuelType>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <launchDate>
      <Value><![CDATA[2019-11-23T00:00:00]]></Value>
    </launchDate>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "8aff512c-cae1-45fb-a176-29e3b2058a93",
    "mediaKey": "1fbb8df4-9361-462c-9cb1-203988a461c9"
  }
]]]></Value>
    </mainImage>
    <modelName>
      <Value><![CDATA[Golf]]></Value>
    </modelName>
    <price>
      <Value><![CDATA[1329]]></Value>
    </price>
    <transmission>
      <Value><![CDATA[]]></Value>
    </transmission>
  </Properties>
</Content>